.header_buttons {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 300px;
    padding: 6px 2px;
    border: var(--border);
    border-radius: 8px;
}

.header_buttons label {
    width: 100px;
    height: 20px;
    padding: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: white;    
}

.header_buttons label input {
    display: none;
}

.header_buttons .set_sep {
    border-left: var(--border);
    border-right: var(--border);
    height: 20px;
}

.radio_input:checked + span {
    background-color: var(--c-gray-200);
    padding: 5px 15px;
    border-radius: 12px;
    transition-timing-function: ease-in-out;
    margin: 0;
    transition: padding 0.15s;
}


/* TODO: 
    -add left to right transition */