* {
  font-family: "Scope One", serif;
}

:root {
  --border: 1px solid rgb(221, 221, 221);
  
  --c-gray-100: #F2F2F2;
  --c-gray-200: #EBEBEB;
  --c-gray-300: #E6E6E6;
  --c-gray-400: #DFDFDF;
  --c-gray-500: #C9C9C9;
  --c-gray-600: #A8A8A8;
  --c-gray-700: #8F8F8F;
  --c-gray-800: #7D7D7D;
  --c-gray-900: #666666;
  --c-gray-1000: #171717;

  --c-amber-100: oklch(97.48% .0331 85.79);
  --c-amber-200: oklch(96.81% .0495 90.2423);
  --c-amber-300: oklch(95.93% .0636 90.52);
  --c-amber-400: oklch(91.02% .1322 88.25);
  --c-amber-500: oklch(86.55% .1583 79.63);
  --c-amber-600: oklch(80.25% .1953 73.59);
  --c-amber-700: oklch(81.87% .1969 76.46);
  --c-amber-800: oklch(77.21% .1991 64.28);
  --c-amber-900: oklch(52.79% .1496 54.65);
  --c-amber-1000: oklch(30.83% .099 45.48);

  --c-blue-100: oklch(97.32% .0141 251.56);
  --c-blue-200: oklch(96.29% .0195 250.59);
  --c-blue-300: oklch(94.58% .0293 249.849);
  --c-blue-400: oklch(91.58% .0473 245.116);
  --c-blue-500: oklch(82.75% .0979 248.48);
  --c-blue-600: oklch(73.08% .1583 248.133);
  --c-blue-700: oklch(57.61% .2508 258.23);
  --c-blue-800: oklch(51.51% .2399 257.85);
  --c-blue-900: oklch(53.18% .2399 256.99);
  --c-blue-1000: oklch(26.67% .1099 254.34);

  --c-red-100: oklch(96.5% .0223 13.09);
  --c-red-200: oklch(95.41% .0299 14.2526);
  --c-red-300: oklch(94.33% .0369 15.0115);
  --c-red-400: oklch(91.51% .0471 19.8);
  --c-red-500: oklch(84.47% .1018 17.71);
  --c-red-600: oklch(71.12% .1881 21.22);
  --c-red-700: oklch(62.56% .2524 23.03);
  --c-red-800: oklch(58.19% .2482 25.15);
  --c-red-900: oklch(54.99% .232 25.29);
  --c-red-1000: oklch(24.8% .1041 18.86);

  --c-green-100: oklch(97.59% .0289 145.42);
  --c-green-200: oklch(96.92% .037 147.15);
  --c-green-300: oklch(94.6% .0674 144.23);
  --c-green-400: oklch(91.49% .0976 146.24);
  --c-green-500: oklch(85.45% .1627 146.3);
  --c-green-600: oklch(80.25% .214 145.18);
  --c-green-700: oklch(64.58% .1746 147.27);
  --c-green-800: oklch(57.81% .1507 147.5);
  --c-green-900: oklch(51.75% .1453 147.65);
  --c-green-1000: oklch(29.15% .1197 147.38);

  --c-teal-100: oklch(97.72% .0359 186.7);
  --c-teal-200: oklch(97.06% .0347 180.66);
  --c-teal-300: oklch(94.92% .0478 182.07);
  --c-teal-400: oklch(92.76% .0718 183.78);
  --c-teal-500: oklch(86.88% .1344 182.42);
  --c-teal-600: oklch(81.5% .161 178.96);
  --c-teal-700: oklch(64.92% .1572 181.95);
  --c-teal-800: oklch(57.53% .1392 181.66);
  --c-teal-900: oklch(52.08% .1251 182.93);
  --c-teal-1000: oklch(32.11% .0788 179.82);

  --c-purple-100: oklch(96.65% .0244 312.189);
  --c-purple-200: oklch(96.73% .0228 309.8);
  --c-purple-300: oklch(94.85% .0364 310.15);
  --c-purple-400: oklch(91.77% .0614 312.82);
  --c-purple-500: oklch(81.26% .1409 310.8);
  --c-purple-600: oklch(72.07% .2083 308.19);
  --c-purple-700: oklch(55.5% .3008 306.12);
  --c-purple-800: oklch(48.58% .2638 305.73);
  --c-purple-900: oklch(47.18% .2579 304);
  --c-purple-1000: oklch(23.96% .13 305.66);

  --c-pink-100: oklch(95.69% .0359 344.622);
  --c-pink-200: oklch(95.71% .0321 353.14);
  --c-pink-300: oklch(93.83% .0451 356.29);
  --c-pink-400: oklch(91.12% .0573 358.82);
  --c-pink-500: oklch(84.28% .0915 356.99);
  --c-pink-600: oklch(74.33% .1547 .24);
  --c-pink-700: oklch(63.52% .238 1.01);
  --c-pink-800: oklch(59.51% .2339 4.21);
  --c-pink-900: oklch(53.5% .2058 2.84);
  --c-pink-1000: oklch(26% .0977 359);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 0.8rem;
  min-width: 100%;
}
